<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CONJURING</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}"/>
</head>
<body>

    
    {% block content %}
        <div class="WholeWrapper">


                <!-- <img class="background_image" src="https://firebasestorage.googleapis.com/v0/b/study-77c83.appspot.com/o/SOPY%2Fuploads%2FthumbNail%2F%E1%84%89%E1%85%B3%E1%84%8F%E1%85%B3%E1%84%85%E1%85%B5%E1%86%AB%E1%84%89%E1%85%A3%E1%86%BA_2021-07-28_%E1%84%8B%E1%85%A9%E1%84%8C%E1%85%A5%E1%86%AB_11.45.05-removebg-preview.png?alt=media&token=9b26bf01-c68c-48ad-8ae7-385ddb22fe96"/> -->
             
             
                <div class="page1_wrapper">
                    <div class="page1 page">
                        <div class="RowWrapper">
                            <img class="logo-image" src="https://firebasestorage.googleapis.com/v0/b/study-77c83.appspot.com/o/SOPY%2Fuploads%2FthumbNail%2Fimages-removebg-preview.png?alt=media&token=c355b57a-75de-4621-9885-17b6c5eeab35"/>
                            <img class="valac" src="https://firebasestorage.googleapis.com/v0/b/study-77c83.appspot.com/o/SOPY%2Fuploads%2FthumbNail%2F%E1%84%87%E1%85%A1%E1%86%AF%E1%84%85%E1%85%A1%E1%86%A8-removebg-preview-removebg-preview.png?alt=media&token=6e1f2057-2463-4c60-b150-e3c60953a356"/>
                        </div>

                        <div class="main_iframe_area">
                            <iframe class="iframe" src="https://www.youtube.com/embed/MRY26k7sUkY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>


                    </div>
                    <div class="page1_plus">1_p</div>
                </div>
                <div class="RsWrapper">
                <div class="page2 page">
                    <div class="main_title">컨저링 시리즈</div>
                    <div class="contents">

                        <div class="content1">
                            <a href="https://www.youtube.com/watch?v=dji5vHuoVtM" target="_blank">
                                <img class="content_1_img" src="https://firebasestorage.googleapis.com/v0/b/study-77c83.appspot.com/o/SOPY%2Fuploads%2FthumbNail%2Fmovies%2F%E1%84%8F%E1%85%A5%E1%86%AB%E1%84%8C%E1%85%A5%E1%84%85%E1%85%B5%E1%86%BC1.jpg?alt=media&token=3de5aa4c-bfa1-41d7-95ba-c48a3d89f51b" class="content_image"/>
                            </a>
                            <div class="content_descs">
                                <div class="content_desc_1">2013</div>
                                <div class="content_desc_2">누적관객 : 2,264,314명</div>
                                <div class="content_desc_3">감독 : 제임스 완</div>
                                <div class="content_desc_4">출연 : 베라 파미가(로레인 워렌) 패트릭 윌슨(에드 워렌) …</div>
                            </div>
                        </div>
                        <div class="content2">
                            <a href="https://www.youtube.com/watch?v=jb5URrwzSow&t=4s" target="_blank">
                                <img class="content_2_img" src="https://firebasestorage.googleapis.com/v0/b/study-77c83.appspot.com/o/SOPY%2Fuploads%2FthumbNail%2Fmovies%2F%E1%84%8F%E1%85%A5%E1%86%AB%E1%84%8C%E1%85%A5%E1%84%85%E1%85%B5%E1%86%BC%202.jpg?alt=media&token=13415747-f3ca-4d51-b467-1cd2e48d7048" class="content_image"/>
                            </a>
                            <div class="content_descs">
                                <div class="content_desc_1">2016</div>
                                <div class="content_desc_2">개봉일 : 2016-06-09 누적관객 : 1,929,737명</div>
                                <div class="content_desc_3">감독 : 제임스 완</div>
                                <div class="content_desc_4">출연 : 베라 파미가(로레인 워랜) 패트릭 윌슨(에드 워랜) …</div>
                            </div>
                        </div>
                        <div class="content3">
                            <a href="https://www.youtube.com/watch?v=MRY26k7sUkY" target="_blank">
                                <img class="content_3_img" src="https://firebasestorage.googleapis.com/v0/b/study-77c83.appspot.com/o/SOPY%2Fuploads%2FthumbNail%2Fmovies%2F%E1%84%8F%E1%85%A5%E1%86%AB%E1%84%8C%E1%85%A5%E1%84%85%E1%85%B5%E1%86%BC%203.jpg?alt=media&token=7a863de4-654c-473c-b9e0-029bd727d81d" class="content_image"/>
                            </a>
                            <div class="content_descs">
                                <div class="content_desc_1">2021 
                                </div>
                                <div class="content_desc_2">개봉일 : 2021-06-03 누적관객 : 797,862명 (상영중)</div>
                                <div class="content_desc_3">감독 : 마이클 차베즈</div>
                                <div class="content_desc_4">출연 : 베라 파미가 패트릭 윌슨 …</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="page3 page">
                    
                    <div class="main_title">컨저링 1</div>
                    <div class="sub_title">The Conjuring1</div>
                    <div class="row_3">
                        <img class="b_img1 b_img" src="https://firebasestorage.googleapis.com/v0/b/study-77c83.appspot.com/o/SOPY%2Fuploads%2FthumbNail%2Fmovies%2F%E1%84%8F%E1%85%A5%E1%86%AB%E1%84%8C%E1%85%A5%E1%84%85%E1%85%B5%E1%86%BC1.jpg?alt=media&token=3de5aa4c-bfa1-41d7-95ba-c48a3d89f51b"/>
                        <div class="main_iframe_area_s">
                            <iframe class="video_s" src="https://www.youtube.com/embed/dji5vHuoVtM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
                <div class="page4 page">
                    
                    <div class="main_title">컨저링 2</div>
                    <div class="sub_title">The Conjuring2</div>
                    <div class="row_3">
                        <img class="b_img2 b_img" src="https://firebasestorage.googleapis.com/v0/b/study-77c83.appspot.com/o/SOPY%2Fuploads%2FthumbNail%2Fmovies%2F%E1%84%8F%E1%85%A5%E1%86%AB%E1%84%8C%E1%85%A5%E1%84%85%E1%85%B5%E1%86%BC%202.jpg?alt=media&token=13415747-f3ca-4d51-b467-1cd2e48d7048"/>
                        <div class="main_iframe_area_s">
                            <iframe class="video_s" src="https://www.youtube.com/embed/jb5URrwzSow" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
                <div class="page5 page">
                    
                    <div class="main_title">컨저링 3</div>
                    <div class="sub_title">The Conjuring3</div>
                    <div class="row_3">
                        <img class="b_img3 b_img" src="https://firebasestorage.googleapis.com/v0/b/study-77c83.appspot.com/o/SOPY%2Fuploads%2FthumbNail%2Fmovies%2F%E1%84%8F%E1%85%A5%E1%86%AB%E1%84%8C%E1%85%A5%E1%84%85%E1%85%B5%E1%86%BC%203.jpg?alt=media&token=7a863de4-654c-473c-b9e0-029bd727d81d"/>
                        <div class="main_iframe_area_s">
                            <iframe class="video_s" src="https://www.youtube.com/embed/MRY26k7sUkY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
                <div class="page6 page">
                    <div class="main_title">다른 영화들과 컨저링</div>
                    <div class="last_contents">


                        <div class="line1 line">

                            <div class="last_contents_1">
                                <a href="https://movie.naver.com/movie/bi/mi/basic.naver?code=168049" target="_blank">
                                    <img class="last_content_1_img" src="https://firebasestorage.googleapis.com/v0/b/study-77c83.appspot.com/o/SOPY%2Fuploads%2FthumbNail%2Fmovies%2F%E1%84%83%E1%85%A5%E1%84%82%E1%85%A5%E1%86%AB.jpg?alt=media&token=30f5fbbb-906e-4993-82e0-adff36788ecf" />
                                </a>
                                <div class="last_contents_1_title">
                                    1. 더넌
                                </div>
                            </div>
                            <div class="last_contents_2">
                                <a href="https://movie.naver.com/movie/bi/mi/basic.naver?code=152341" target="_blank">
                                    <img class="last_content_2_img" src="https://firebasestorage.googleapis.com/v0/b/study-77c83.appspot.com/o/SOPY%2Fuploads%2FthumbNail%2Fmovies%2F%E1%84%8B%E1%85%A2%E1%84%82%E1%85%A1%E1%84%87%E1%85%A6%E1%86%AF%20%E1%84%8B%E1%85%B5%E1%86%AB%E1%84%92%E1%85%A7%E1%86%BC.jpg?alt=media&token=cd84128e-3453-4638-8fed-7d368e206857" />
                                </a>
                                <div class="last_contents_1_title">
                                    2. 애나벨 2
                                </div>
                            </div>
                            <div class="last_contents_3">
                                <a href="https://movie.naver.com/movie/bi/mi/basic.naver?code=127338" target="_blank">
                                    <img class="last_content_3_img" src="https://firebasestorage.googleapis.com/v0/b/study-77c83.appspot.com/o/SOPY%2Fuploads%2FthumbNail%2Fmovies%2F%E1%84%8B%E1%85%A2%E1%84%82%E1%85%A1%E1%84%87%E1%85%A6%E1%86%AF.jpg?alt=media&token=0c13888f-4e2b-42e3-b18e-96dcdf664639" />
                                </a>
                                <div class="last_contents_1_title">
                                    3. 애나벨 1
                                </div>
                            </div>

                        </div>


                        <div class="line2 line">

                            <div  class="last_contents_4">
                                <a href="https://movie.naver.com/movie/bi/mi/basic.naver?code=92823" target="_blank">
                                    <img class="last_content_4_img" src="https://firebasestorage.googleapis.com/v0/b/study-77c83.appspot.com/o/SOPY%2Fuploads%2FthumbNail%2Fmovies%2F%E1%84%8F%E1%85%A5%E1%86%AB%E1%84%8C%E1%85%A5%E1%84%85%E1%85%B5%E1%86%BC1.jpg?alt=media&token=3de5aa4c-bfa1-41d7-95ba-c48a3d89f51b" />
                                </a>
                                <div class="last_contents_1_title">
                                    4. 컨저링 1
                                </div>
                            </div>
                            <div class="last_contents_5">
                                <a href="https://movie.naver.com/movie/bi/mi/basic.naver?code=183850" target="_blank">
                                    <img class="last_content_5_img" src="https://firebasestorage.googleapis.com/v0/b/study-77c83.appspot.com/o/SOPY%2Fuploads%2FthumbNail%2Fmovies%2F%E1%84%8B%E1%85%A2%E1%84%82%E1%85%A1%E1%84%87%E1%85%A6%E1%86%AF%20%E1%84%8C%E1%85%B5%E1%86%B8.jpg?alt=media&token=59a813fa-9447-4e4b-8831-b20a9d0810f5" />
                                </a>
                                
                                <div class="last_contents_1_title">
                                    5. 애나벨 집으로
                                </div>
                            </div>
                            <div class="last_contents_6">
                                <a href="https://movie.naver.com/movie/bi/mi/basic.naver?code=114282" target="_blank">
                                    <img class="last_content_6_img" src="https://firebasestorage.googleapis.com/v0/b/study-77c83.appspot.com/o/SOPY%2Fuploads%2FthumbNail%2Fmovies%2F%E1%84%8F%E1%85%A5%E1%86%AB%E1%84%8C%E1%85%A5%E1%84%85%E1%85%B5%E1%86%BC%202.jpg?alt=media&token=13415747-f3ca-4d51-b467-1cd2e48d7048" />
                                </a>
                                <div class="last_contents_1_title">
                                    6. 컨저링 2
                                </div>
                            </div>
                            <div class="last_contents_7">
                                <a href="https://movie.naver.com/movie/search/result.naver?query=%EC%BB%A8%EC%A0%80%EB%A7%813&section=all&ie=utf8" target="_blank">
                                    <img class="last_content_7_img" src="https://firebasestorage.googleapis.com/v0/b/study-77c83.appspot.com/o/SOPY%2Fuploads%2FthumbNail%2Fmovies%2F%E1%84%8F%E1%85%A5%E1%86%AB%E1%84%8C%E1%85%A5%E1%84%85%E1%85%B5%E1%86%BC%203.jpg?alt=media&token=7a863de4-654c-473c-b9e0-029bd727d81d" />
                                </a>
                                <div class="last_contents_1_title">
                                    7.컨저링 3
                                </div>
                            </div>
                            
                        </div>
                        
                        
                    </div>
                </div>
            </div>
            <!-- <div class="footer">
            <div class="omh">
                <
            </div>
            </div>
        </div> -->

    {% endblock content %}
        
</body>
    <script src="{{ url_for('static', filename='js/init.js') }}"> </script>

</html>